.pagination-wrapper {
    text-align: center;
}

.progress {
    background-color: gray;
    height: 25px;
}

.progress-bar {
    background-color: #ffbf7c;
}

.radio-btn-area {
    padding: 10px;
}

.radio-btn-area .form-check-label {
    cursor: pointer;
}

.radio-btn-area:hover {
    background-color: var(--light);
}
