.custom-form {
    text-align: center;
    font-size: 1.5rem;
}

.custom-form .form-label {
    display: block;
    margin-bottom: 15px;
}

.custom-form .form-check-label:hover {
    cursor: pointer;
}
