main h1{
    font-size: 40px;
}

.user-form{
    padding: 20px;
    border: 2px solid #6558f5;
    border-radius: 8px;
}

.user-form label{
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.user-form input{
    margin-bottom: 10px;
}